
body{
    margin: 0;
    padding: 0;


}

.dontHaveLine{
    text-decoration: none;
}

.overlayNavBar{
    width: 100%;
    height: 0;
    position: fixed;
    /*to go over the content*/
    z-index: 999;
    background-color: #25a81d;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navigationElements{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.nameAndXContainer{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nameAndXContainer h1{
    margin-left: 2%;
    font-size: 28px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.xContainer{
    margin-right: 2%;
    height: 50px;
    width: 50px;
}
#cross{
    height: 100%;
    width: 100%;
}



.elements{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.elements h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.elements a{
    color: #fff;
  
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.elements a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.elements a:hover:after { 
    width: 100%; 
    left: 0; 
}

#barAddress{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    
    margin-bottom: 0px;
}
#barPhoneNumber{
    margin-top: 10px;
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.navigationSocialIcons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.actualSocialContainer{
    
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navFacebook{
    height: 30px;
    width: 30px;
}
#navInsta{
    height: 30px;
    width: 30px;
}


.opening{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./contactUsImages/jezael-melgoza-ttHl0hTil3I-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    z-index: 0;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.topNavBar{
    display: flex;
    flex-direction: row;
    height: 10%;

}

.restaurantName{
    font-family: 'Montserrat', sans-serif;
    
    color: white;
    z-index: 99;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.restaurantName h1{
    margin-left: 15px;
}

.optionsAndIcons{
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: row;
    width: 70%;

}


.responsiveNavBar{
    display: none;
}

.options{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    z-index: 99;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.options a{
    color: #fff;
  
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}

.options a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.options a:hover::after{
    width: 100%;
    left: 0;
}




.options p:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
}
.options p:nth-child(3){
    margin-right: 20px;
}
.socials{
    height: 100%;
    z-index: 99;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.socials img:nth-child(3){
    margin-right: 20px;
}
.socials img:nth-child(2){
    margin-right: 10px;
}
.socials img:nth-child(1){
    margin-right: 10px;
}
#insta{
    height: 35px;
    width: 35px;

}

#tiktok{
    height: 35px;
    width: 35px;
}
#facebook{
    height: 35px;
    width: 35px;
}

.circleContainer{
    margin-right: 5%;
    z-index: 99;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.line{
    width: 20px;
    height: 3px;
    background-color: black;
}
.line:nth-child(1){
    margin-bottom: 3px;
}
.line:nth-child(2){
    margin-bottom: 3px;
}

.openingBottomPart{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.catchyOpening{
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}

.catchyOpening h1{
    color: white;
    z-index: 99;
    font-family: 'Gochi Hand', cursive;
    font-size: 80px;
}




/*contact css*/

/*.contactContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactFormContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0,0,0,0.1);
}
.leftContact{
    width: 40%;
    height: 100%;
    
    background-color: #25a81d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rightContact{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.centerItems{
    width: 80%;
    height: 100%;
}


.individualContactContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
   
}

.centerItems .individualContactContainer{
    margin-bottom: 10px;
}

.centerItems h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    margin-top: 40px;
}

.centerItems p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
}


.oneContactContainer{
    margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 28px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactText{
    display: flex;
    flex-direction: row;
}

.contactText p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    margin-right: 8px;
}
.contactText p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
}

.contactIcon{
    
    height: 25px;
    width: 25px;
    
}

#location{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.actualFormContainer{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.actualFormContainer form{
    display: flex;
    flex-direction: column;
}

.actualFormContainer h1{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#nameHolder{
    width: 60%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

#emailHolder{
    margin-top: 20px;
    width: 60%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}
#messageHolder{
    margin-top: 20px;
    width: 60%;
    height: 120px;
    border: 1px solid black;
    border-radius: 5px;

}

#sendButton{
    margin-top: 20px;
    border-radius: 5px;
    width: 20%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #25a81d;
    cursor: pointer;
    color: white;
    border: none;
}*/

/*end of css code for contact form*/






.contactMessage{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactMessage h1{
   
    font-family: 'Gochi Hand', cursive;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #25a81d;

}
.contactMessage p{
    margin-top: 0px;
    width: 50%;
    /*background-color: blue;*/
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #520c0c;
}

.lineContainer{
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lineContact{
    height: 1px;
    width: 85%;
    background-color: orange;
}



.contactFormAndMapContainer{
    
    margin-top: 200px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
}

.leftContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

}
.rightContainer{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.visitUsAndArrowContainer{
    position: absolute;
    top: -27%;
    left: 30%;
    /*background-color: red;*/
    height: 150px;
    width: 250px;
}

.visitUsAndArrowContainer h1{
    position: absolute;
    top: 0;
    left: 10%;
    transform: rotate(30deg);
    font-family: 'Gochi Hand', cursive;
    color: black;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.arrowContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    /*background-color: blue;*/
    transform: scaleX(-1) rotate(100deg);
}
#arrow{
    height: 100%;
    width: 100%;
}


.formContainer{
    
    background-color: #25a81d;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer h1{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;

}
.formContainer p{
    
    width: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 4px;
}

.formContainer form{
   
    width: 70%;
    display: flex;
    flex-direction: column;
}

.textAndInput{
    display: flex;
    flex-direction: column;
}

form .textAndInput:nth-child(1){
    margin-bottom: 25px;
}

form .textAndInput:nth-child(2){
    margin-bottom: 25px;
}

.textAndInput label{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}

.textAndTextArea{
    display: flex;
    flex-direction: column;
}
.textAndTextArea label{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}
#nameHolder{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
}
#nameHolder{
    text-align: left;
    padding-left: 2%;
}

#emailHolder{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
}
#emailHolder{
    text-align: left;
    padding-left: 2%;
}

#messageHolder{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: none;
}

.formContainer button{
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.mapContainer{
    background-color: black;
    height: 100%;
    width: 80%;
}
.mapContainer iframe{
    height: 100%;
    width: 100%;
    filter: invert(90%);
}

/*.mapContainer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mapContainer iframe{
    height: 100%;
    width: 80%;
}*/


/*footer css*/
.footerSection{
    margin-top: 100px;
    width: 100%;
    height: 390px;
    background-color: #f5a71c;
    display: flex;
    flex-direction: column;
}
.topFooter{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.bottomFooter{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}
.bottomFooter p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nameAndSombrero{
    height: 100%;
    width: 35%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    
}
.nameAndSombrero h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    /*background-color: blue;*/
    width: 100%;
    
    text-align: center;
    
}

#footerSombrero{
    height: 140px;
    width: 140px;
}

.restaurantInfo{
    width: 21.66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
}


.wholeContainerFooter a{
    color: white;
    text-decoration: none;
}
.restaurantInfo .wholeContainerFooter{
    height: 85%;
    width: 75%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
}

.hoursInfo .wholeContainerFooter{
    height: 85%;
    width: 75%;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
}

.websiteSections .wholeContainerFooter{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 75%;
    /*background-color: yellowgreen;*/
}

.visitUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    color: white;
}

.visitUs h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.visitUs p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 0px;

}

.email{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
.email h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.email p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}
.phoneNumber{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
.phoneNumber h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.phoneNumber p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 0px;
}

.hoursInfo{
    width: 21.66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: blueviolet;*/
    
}

.hours{
    display: flex;
    flex-direction: column;
    color: white;
}
.hours h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0px;
   
}

.hours h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin-top: 0px;
}
.hours p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 0px;
}

.closed{
    display: flex;
    flex-direction: column;
    color: white;
}
.closed h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin-top: 0px;
}
.closed p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 0px;
}

.websiteSections{
    width: 21.66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /*background-color: violet;*/
}

.wholeContainerFooter h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0px;
}

@media (max-width: 1250px){
    .nameAndSombrero{

        width: 20%;
        justify-content: flex-start;
    }

    .nameAndSombrero h1{
        margin-top: 25px;
        font-size: 28px;
    }
    #footerSombrero{
        height: 100px;
        width: 100px;
    }
    .restaurantInfo{
        width: 35%;
    }
    .hoursInfo{
        width: 22.5%;
    }
    .websiteSections{
        width: 22.5%;
    }
}
@media (max-width: 1200px){
    .formContainer{
        width: 85%;
    }
    .mapContainer{
        width: 85%;
    }
}
@media (max-width: 1185px){
    .restaurantName h1{
        font-size: 25px;
    }
}

@media (max-width: 1025px){
    .opening{
        height: 850px;
    }
    .formContainer{
        width: 95%;
    }
    .mapContainer{
        width: 95%;
    }
    .formContainer p{
        width: 75%;
    }
    .formContainer form{
        width: 75%;
    }
}

@media (max-width: 980px){
    .opening{
        height: 820px;
    }
}

@media (max-width: 900px){
    .opening{
        height: 750px;
    }

    .formContainer p{
        width: 80%;
    }
    .formContainer form{
        width: 80%;
    }

}

@media (max-width: 915px){
    .optionsAndIcons{
        display: none;
    }

    .responsiveNavBar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        
    }

    .restaurantName{
        width: 60%;
    }
}

@media (max-width: 850px){
    .opening{
        height: 650px;
    }
    .visitUs h1{
        font-size: 22px;
    }
    .visitUs p{
        font-size: 16px;
    }
    .email h1{
        font-size: 22px;
        
    }
    .email p{
        font-size: 16px;
    }
    .phoneNumber h1{
        font-size: 22px;
    }
    .phoneNumber p{
        font-size: 16px;
    }
    .hours h1{
        font-size: 22px;
    }
    .hours h2{
        font-size: 19px;
    }
    .hours p{
        font-size: 16px;
    }
    .closed h2{
        font-size: 19px;
    }
    .closed p{
        font-size: 16px;
    }
    .websiteSections .wholeContainerFooter h1{
        font-size: 22px;
    }
    .nameAndSombrero h1{
        font-size: 24px;
    }
    #footerSombrero{
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 800px){
    .formContainer p{
        width: 86%;
    }
    .formContainer form{
        width: 86%;
    }
    .formContainer h1{
        font-size: 30px;
    }
    .formContainer p{
        font-size: 15px;
    }
    .visitUsAndArrowContainer{
        /*background-color: red;*/
        left: 20%;
    }
    .actualSocialContainer{
        width: 12%;
    }
}

@media (max-width: 665px){
    .footerSection{
        height: auto;
    }
    .topFooter{
        flex-direction: column-reverse;
        
    }

    .websiteSections{
        width: 100%;

    }
    .websiteSections .wholeContainerFooter{
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        /*background-color: blue;*/
    }
    .hoursInfo{
        width: 100%;
        /*background-color: violet;*/
    }
    .hoursInfo .wholeContainerFooter{
        width: 80%;
        height: 100%;
        align-items: center;
        /*background-color: red;*/
    }
    .hours{
        align-items: center;
    }
    .restaurantInfo{
        width: 100%;

    }
    .restaurantInfo .wholeContainerFooter{

        width: 80%;
        height: 100%;
        /*background-color: red;*/
    }
    .visitUs{
        align-items: center;
    }
    .email{
        align-items: center;
    }
    .phoneNumber{
        align-items: center;
    }
    .nameAndSombrero{
        width: 100%;
        margin-bottom: 40px;
    }
    .nameAndSombrero h1{
        margin-top: 10px;
    }
    
    .bottomFooter p{
        font-size: 17px;
    }
    .bottomFooter{
        margin-bottom: 20px;
    }
}

/*here we change to mobile version*/
@media (max-width: 650px){
    .opening{
       height: 600px;
    }
    .contactFormAndMapContainer{
        flex-direction: column;
        height: 740px;
    }
    .leftContainer{
        width: 100%;
        height: 70%;
        justify-content: center;
    }
    .rightContainer{
        width: 100%;
        height: 30%;
        justify-content: center;
    }
    .formContainer{
        width: 85%;
        height: 100%;
    }
    .mapContainer{
        width: 85%;
        height: 100%;
    }

    .visitUsAndArrowContainer{
        /*background-color: red;*/
        top: 110%;
        left: 30%;
        z-index: 1999;
    }
    .visitUsAndArrowContainer h1{
        top: 60%;
        left: 2%;
    }
    .arrowContainer{
        left: 35%;
        transform: scaleX(-1) rotate(-100deg);
        bottom: 35%;
        
    }
    .contactFormAndMapContainer{
        margin-top: 70px;
        margin-bottom: 200px;
    }
}

@media (max-width: 600px){
    .contactMessage{
        margin-top: 60px;
    }
    .contactMessage h1{
        font-size: 60px;
    }
    .contactMessage p{
        width: 80%;
    }
    .nameAndXContainer h1{
        font-size: 20px;
    }
    .xContainer{
        height: 35px;
        width: 35px;
    }
    .elements h1{
        font-size: 17px;
    }
    #barAddress{
        font-size: 13px;
    }
    #barPhoneNumber{
        font-size: 13px;
    }
}

@media (max-width: 500px){
    .opening{
        height: 550px;
    }
    .websiteSections .wholeContainerFooter{
        width: 94%;
       
    }
    .websiteSections .wholeContainerFooter h1{
        font-size: 19px;
       
    }
    .bottomFooter p{
        text-align: center;
        font-size: 15px;
    }
    .visitUs p{
        text-align: center;
    }
    .actualSocialContainer{
        width: 18%;
    }
}

@media (max-width: 450px){
    .catchyOpening h1{
        font-size: 55px;
    }
    .restaurantName h1{
        font-size: 18px;
    }
    .visitUsAndArrowContainer{
        left: 10%;
    }
}

@media (max-width: 400px){
    .contactMessage h1{
        font-size: 45px;
    }

    .contactFormAndMapContainer{
        height: 620px;
    }
    .leftContainer{
        height: 75%;
    }
    .rightContainer{
        height: 25%;
    }

    .formContainer{
        width: 90%;
    }
    .mapContainer{
        width: 90%;
    }

    form .textAndInput:nth-child(1){
        margin-bottom: 15px;
    }
    
    form .textAndInput:nth-child(2){
        margin-bottom: 15px;
    }
    .textAndInput label{
        font-size: 16px;
    }
    .textAndTextArea label{
        font-size: 16px;
    }
    #messageHolder{
        height: 70px;
    }
    .visitUsAndArrowContainer{
        /*background-color: red;*/
        height: 120px;
        width: 175px;
    }
    .arrowContainer{
        height: 70px;
        width: 70px;
    }
    .visitUsAndArrowContainer h1{
        font-size: 35px;
    }
    
}

@media (max-width: 350px){
    .contactMessage{
        height: 250px;
    }
    #barAddress{
        text-align: center;
    }
    #barPhoneNumber{
        text-align: center;
    }
}

@media (max-width: 300px){
    .opening{
        height: 480px;
    }
    .catchyOpening h1{
        font-size: 42px;
    }
    .websiteSections .wholeContainerFooter h1{
        font-size: 15px;
    }
}